<h1>Search#Index</h1>
<form action="<%= search_path %>" method="get">
	<input type="search" name="query" />
	<input type="submit" value="Search" />
</form>
<h2>Result</h2>
<ul>
	<% @result.each do |value| %>
	<li>
		<%= value.item + ", " + value.purpose %>
	</li>
	<% end %>
</ul>
