<ul class="nav nav-pills nav-stacked span2">
	<li>
		<%= sidebar_link 'Recent', use_cases_path %>
	</li>
	<li>
		<%= sidebar_link 'Top Wow', top_wow_use_cases_path %>
	</li>
	<li>
		<%= sidebar_link 'Top Me, Too', top_metoo_use_cases_path %>
	</li>
</ul>