<h1>Grouped use_case</h1>
<% @grouped.each do |key, value| %>
	<h2><%= key %></h2>
	<ul>
		<% value.each do |use_case| %>
		<li><%= [use_case.product, use_case.function] %></li>
		<% end %>
	</ul>
<% end %>

<!-- Pagination -->
<%= will_paginate @reduced, :class => 'digg_pagination' %>