<div class="row">
	<%= render 'use_cases/sidebar' %>

	<div class="content row span10">
		<%= display_usecase_list(@use_cases, 5) %>
		
		<!-- Pagination -->
		<%= will_paginate @use_cases, :class => 'pagination pagination-centered', :renderer => BootstrapPagination::Rails %>
	</div>
</div>
