/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

.digg_pagination {
	background: white;
	cursor: default;
	/* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
	padding: 0.2em 0.5em;
	display: block;
	float: left;
	margin-right: 1px;
}
.digg_pagination .disabled {
	color: #999999;
	border: 1px solid #dddddd;
}
.digg_pagination .current {
	font-style: normal;
	font-weight: bold;
	background: #2e6ab1;
	color: white;
	border: 1px solid #2e6ab1;
}
.digg_pagination a {
	text-decoration: none;
	color: #105cb6;
	border: 1px solid #9aafe5;
}
.digg_pagination a:hover, .digg_pagination a:focus {
	color: #000033;
	border-color: #000033;
}
.digg_pagination .page_info {
	background: #2e6ab1;
	color: white;
	padding: 0.4em 0.6em;
	width: 22em;
	margin-bottom: 0.3em;
	text-align: center;
}
.digg_pagination .page_info b {
	color: #000033;
	background: #6aa6ed;
	padding: 0.1em 0.25em;
}
.digg_pagination:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .digg_pagination {
	height: 1%;
}
*:first-child + html .digg_pagination {
	overflow: hidden;
}
.apple_pagination {
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	text-align: center;
	padding: 1em;
	cursor: default;
}
.apple_pagination a, .apple_pagination span {
	padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
	color: #aaaaaa;
}
.apple_pagination .current {
	font-style: normal;
	font-weight: bold;
	background-color: #bebebe;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
	text-decoration: none;
	color: black;
}
.apple_pagination a:hover, .apple_pagination a:focus {
	text-decoration: underline;
}
.flickr_pagination {
	text-align: center;
	padding: 0.3em;
	cursor: default;
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
	padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
	color: #aaaaaa;
}
.flickr_pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #ff0084;
}
.flickr_pagination a {
	border: 1px solid #dddddd;
	color: #0063dc;
	text-decoration: none;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
	border-color: #003366;
	background: #0063dc;
	color: white;
}
.flickr_pagination .page_info {
	color: #aaaaaa;
	padding-top: 0.8em;
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
	border-width: 2px;
}
.flickr_pagination .previous_page {
	margin-right: 1em;
}
.flickr_pagination .next_page {
	margin-left: 1em;
}
/* line 1, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
/* line 4, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 9, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
/* line 12, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
/* line 18, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
/* line 22, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}
/* line 25, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
/* line 32, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
/* line 37, ../../app/assets/stylesheets/pagination.sass */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 43, ../../app/assets/stylesheets/pagination.sass */
* html .digg_pagination {
  height: 1%;
}
/* line 45, ../../app/assets/stylesheets/pagination.sass */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 48, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
/* line 54, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}
/* line 56, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination .disabled {
  color: #aaaaaa;
}
/* line 58, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
/* line 70, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination a {
  text-decoration: none;
  color: black;
}
/* line 73, ../../app/assets/stylesheets/pagination.sass */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

/* line 76, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
/* line 80, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}
/* line 82, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .disabled {
  color: #aaaaaa;
}
/* line 84, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
/* line 88, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
/* line 92, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
/* line 96, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
/* line 99, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}
/* line 101, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .previous_page {
  margin-right: 1em;
}
/* line 103, ../../app/assets/stylesheets/pagination.sass */
.flickr_pagination .next_page {
  margin-left: 1em;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 8, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 13, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 20, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 22, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 27, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 30, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 33, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 45, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 5, ../../app/assets/stylesheets/stats.css.scss */
body {
  line-height: 1.6em;
}

/* line 9, ../../app/assets/stylesheets/stats.css.scss */
.comment_log {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  width: 900px;
  border-collapse: collapse;
  text-align: left;
  position: relative;
}

/* line 20, ../../app/assets/stylesheets/stats.css.scss */
.comment_log caption {
  font-size: 1.5em;
  color: red;
}

/* line 27, ../../app/assets/stylesheets/stats.css.scss */
.comment_log th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
  text-align: center;
}

/* line 36, ../../app/assets/stylesheets/stats.css.scss */
.comment_log td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
  text-align: left;
}
/* ------------------
 styling for the tables 
   ------------------   */
/* line 9, ../../app/assets/stylesheets/use_cases.css.scss */
body {
  line-height: 1.6em;
}

/* line 14, ../../app/assets/stylesheets/use_cases.css.scss */
.cases {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin: auto;
  width: 700px;
  border-collapse: collapse;
  text-align: left;
  position: relative;
}

/* line 25, ../../app/assets/stylesheets/use_cases.css.scss */
.cases caption {
  font-size: 1.5em;
  color: blue;
}

/* line 31, ../../app/assets/stylesheets/use_cases.css.scss */
.cases th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}

/* line 39, ../../app/assets/stylesheets/use_cases.css.scss */
.cases td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
  text-align: center;
}

/* line 46, ../../app/assets/stylesheets/use_cases.css.scss */
.cases tbody tr:hover td {
  color: #009;
}
/* line 6, ../../app/assets/stylesheets/users.css.scss */
body {
  line-height: 1.6em;
}

/* line 11, ../../app/assets/stylesheets/users.css.scss */
.stats {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin: 45px;
  width: 480px;
  border-collapse: collapse;
  text-align: left;
}

/* line 21, ../../app/assets/stylesheets/users.css.scss */
.stats th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}

/* line 29, ../../app/assets/stylesheets/users.css.scss */
.stats td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
}

/* line 35, ../../app/assets/stylesheets/users.css.scss */
.stats tbody tr:hover td {
  color: #009;
}
