<ul class="nav nav-pills nav-stacked span2">
	<li>
		<%= sidebar_link 'Shared', my_page_shared_path %>
	</li>
	<li>
		<%= sidebar_link 'Commented', my_page_commented_path %>
	</li>
	<li>
		<%= sidebar_link 'Scrapped', my_page_scrapped_path %>
	</li>
	<li>
		<%= sidebar_link 'Following', my_page_following_path %>
	</li>
</ul>