<div class="span2">
	<ul class="nav nav-pills nav-stacked">
		<li>
			<%= sidebar_link 'About', about_index_path %>
		</li>
		<li>
			<%= sidebar_link 'Publication', about_publication_path %>
		</li>
		<li>
			<%= sidebar_link 'FAQ', about_faq_path %>
		</li>
	</ul>
</div>