/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require_self
 *= require_tree .
 */
.placeholder {
	color: red;
}

body {
	font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* font-family: "나눔고딕", "NG", "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
}

.usecase-keyword {
	color: #ed3a7a;
	font-weight: bold;
}

.table td.usecase-photo-container {
	vertical-align: middle;
	text-align: center;
}

.usecase-photo {
	width: 400px;
	height: 400px;
}

.usecase-photo-thumb {
	width: 100px;
	height: 100px;
}

.thumbnail .btn-panel {
	text-align: right;
}

@font-face {
	font-family: NG;
	src: url(/assets/NanumGothic.eot);
	src: local(※), url(/assets/NanumGothic.woff) format('woff')
}

