// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usecase-title {
  color: #e9867d;
  font-size: 1.8em;
}

.table .usecase-title-container {
  vertical-align: middle;
}

.table .usecase-thumbnail-container {
  padding: 0;
}

.table .usecase-comment-count {
  vertical-align: middle;
  text-align: center;
  background: url(assets/icon-comment-bg.png) center no-repeat;
  width: 69px;
  height: 69px;
}

.hero-unit {
  -webkit-box-shadow: 0px 0px 10px #888;
  -moz-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  background-color: white;
}
