.usecase-keyword {
  color: #ed3a7a;
  font-weight: bold;
}

.usecase-photo-container {
  vertical-align: middle;  
  text-align: center;
}

.usecase-photo {
  width: 400px;
  height: 400px;
}

.thumbnail .btn-panel {
  text-align: right;
}

.pagination {
  text-align: center;
}

.pagination ul {
  display: -moz-inline-box; /* FF2 or lower */
  display: inline-block;
  /* IE6/7 inline-block hack */
  *display: inline;
  *zoom: 1;
}
