.usecase-keyword {
  color: #ed3a7a;
  font-weight: bold;
}

.table td.usecase-photo-container {
  vertical-align: middle;  
  text-align: center;
}

.table td.usecase-comment-count {
  background-image: url('icon-comment-bg.png');
}

.usecase-photo {
  width: 400px;
  height: 400px;
}

.usecase-photo-thumb {
  width: 100px;
  height: 100px;
}

.thumbnail .btn-panel {
  text-align: right;
}
