<h1>사용자 액티비티 로그</h1>
<p id="notice">
	<%= notice %>
</p>

<div class="content">
	<h2>사용자 활동 통계 및 점수</h2>
	<table>
		<caption>사용자 활동 통계 및 점수</caption>
		<tr>
			<th>사용자</th>
			<th>글 올린 수</th>
			<th>코멘트 받은 수</th>
			<th>코멘트 한 수</th>
			<th>점수 (글: 10점, 코멘트: 1점)</th>
		</tr>
		
	</table>
</div>

<!-- <b><%= debug @comments %></b> -->
