<div class="footer">
	<p class="footer-text">
		Address: #255 N25 Department of Industrial design, KAIST 291 Daehakro, Yuseong-gu, Daejeon 305-701, Republic of Korea.
	</p>
	<p class="footer-text">
		Contact: <a href="mailto:everyusekaist@gmail.com">everyuse.kaist@gmail.com</a>
	</p>
	<p class="footer-text">
		Copyright 2012 Design Media Lab KAIST. All rights reserved.
	</p>
</div>