<form class="navbar-form pull-right">
	<span class='lead'  style="font-size: 1.0em; font-weight: bold; position: relative; bottom: -4px; padding-right: 5px;"> <span style="color: #ed3a7a;"><%= current_user.username %></span>,  welcome to EveryUse! </span>
	<%= link_to "Logout", :logout, :class => "btn btn-small btn-danger" %>
</form>